/*  your css code here. If applicable */
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px auto; /* Center the table */
}
td {
    padding: 1px;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}